<% @title = "Kandlar | About Us" %>

<link rel="canonical" href="http://bstock.com/about-us/" />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="B-Stock Solutions &raquo; Feed" href="http://bstock.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="B-Stock Solutions &raquo; Comments Feed" href="http://bstock.com/comments/feed/" />
<link rel='stylesheet' id='gtranslate-style-css' href='http://bstock.com/wp-content/plugins/gtranslate/gtranslate-style16.css' type='text/css' media='all' />
<link rel='stylesheet' id='base-fonts-css' href='//fonts.googleapis.com/css?family=Droid+Sans%3A400%2C700' type='text/css' media='all' />
<link rel='stylesheet' id='base-style-css' href='http://bstock.com/wp-content/themes/bstock/style.css' type='text/css' media='all' />
<script type='text/javascript' src='http://bstock.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://bstock.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<link rel='https://api.w.org/' href='http://bstock.com/wp-json/' />
<link rel="alternate" type="application/json+oembed" href="http://bstock.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fbstock.com%2Fabout-us%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://bstock.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fbstock.com%2Fabout-us%2F&#038;format=xml" />

<body class="page page-id-26 page-template page-template-pages page-template-template-about page-template-pagestemplate-about-php page-about-us">
	<!-- Google Tag Manager -->
	<script>
		window.dataLayer = window.dataLayer || [];
	</script>
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NGBZ9D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>
		(function(w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'//www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-NGBZ9D');
	</script>
	<!-- End Google Tag Manager -->

	<div id="wrapper">
		<section class="promo-section">
			<div class="carousel2">
				<div class="mask">

					<div class="slideset">
						<div class="slide">
							<div style="background-image:url(http://www.fixabay.com/reimg/resize-img.php?src=http://www.fixabay.com/images/Abstract/j4zr1krztyy.png&h=480&w=800);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size:cover;background-position:50% 50%; position:absolute;top: 0;right: 0;bottom: 0;left: 0;display:block;z-index:0;">
								<!--<img src="" height="" width="" alt="">-->
							</div>
							<div class="center">
								<div class="">
									<h2 style "font-size: 100%; ">About Kandlar </h2><br>
									<span style= "font-size: 20px;">A brief look into the History behind our company, <br> Our Mission, Vision and future goals. </span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="nav-btns-holder">
					<div class="center">
						<a class="btn-prev" href="#">Previous</a>
						<a class="btn-next" href="#">Next</a>
					</div>
				</div>
			</div>
		</section>
		<section>
		  <div class="center">
		    <div class="content-block">
		      <div class="about-us">
		        <div class="preview-text">
		          <h1 style="color: #000C49;">Our Vision</h1>
							<p>Kandlar’s vision is to revolutionize the liquidation business by providing a One Stop Marketplace for trading surplus products through a dynamic technology platform which is easy, efficient and transparent.
							</p>
							<p>&nbsp;</p>
		          <h2 style="color: #000C49;">OUR MISSION</h2>
							<p>Kandlar's mission is to help clients sell their surplus stock in a safe and secure way by providing them a marketplace where they can showcase their surplus stocks.
							</p>
							<br><h1 style="color: #000C49;">About Us</h1>
							<p>Kandlar is a child prodigy of Precision group with a vision to solve the age old problems our manufacturing industry is facing. We have begun to first address the problems of excess Inventory by creating a market place to trade surplus stock. Further to delight you, we provide you the prime stocks at a competitive price than a supplier with a much more quicker delivery there by helping you reduce your procurement cost and time enormously. We shall save the rest of the plans now for future! </p>
							<br><h3 style="color: #000C49;">About our Group Companies:</h3>
							<p>Precision group is a 42 years young group with strength of about 400 dynamic employees. Our Heat Exchangers are the most sort after by the Global Refining and chemical fraternity such as  IOCL ,Reliance , Exxon Mobil , Shell to name a few . Our automotive Components earned us the name Precision as we stood by it in our business with loyal customers such as TAFE, CAT, and L&T etc.</p>


		        </div>
		      </div>
		    </div>
		  </div>
		</section>

	</div>

		<a href="#" class="scroll-to-top">Top</a>

	</div>


	<div id="su-footer-links" style="text-align: center;"></div>
	<script type='text/javascript' src='http://bstock.com/wp-content/themes/bstock/js/jquery.main.js'></script>
	<script type='text/javascript' defer="defer" src='//info.bstock.com/js/public/jquery.cookie.js'></script>
	<script type='text/javascript' defer="defer" src='//info.bstock.com/js/public/jQueryString-2.0.2-Min.js'></script>
	<script type='text/javascript' defer="defer" src='//info.bstock.com/rs/233-KML-790/images/Get_UTM_Parameters_Web.js'></script>



	<!-- BEGIN Google Analytics code -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-772063-13']);
		_gaq.push(['_setDomainName', '.bstock.com']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<!-- END Google Analytics code -->


</body>
